/**
 * @project        wspprojectskeleton
 * @author         Ben Rudolph, WSP <benjamin.rudolph@wsp.com>
 * @build          Wed, Jun 13, 2018 2:45 PM ET
 *
 */
@media all and (min-width: 800px) {
  .img-in-copy.right {
    margin: 8px 0 16px 24px; }
  .img-in-copy.left {
    margin: 8px 24px 16px 0; }
  .img-in-copy:not(.wide) {
    max-width: 240px; }
  .search-bar form input {
    display: inline;
    margin: 0;
    padding: 2px 0 8px 0;
    width: 208px;
    max-width: 400px;
    border: 0;
    font-size: 1.4rem;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
    background: transparent; }
  .stick ~ main {
    margin: 9.8rem 0 0 0; }
  #mainContent {
    margin: 6rem auto;
    padding: 0rem 1.5rem; }
    #mainContent .main-content {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 75%;
              flex: 1 1 75%;
      padding-right: 8rem; }
    #mainContent aside {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 25%;
              flex: 1 1 25%; } }

@media only screen and (min-width: 900px) {
  header .mobile-button {
    display: none; }
  header .search-bar {
    margin-right: 1.5rem;
    display: block;
    position: absolute;
    right: 22px;
    top: 45px;
    -webkit-transition: top .25s ease, margin .25s ease;
    transition: top .25s ease, margin .25s ease; }
  header .search-bar form {
    margin: 0 0 0 auto;
    border-bottom: 1px solid #b2afbb; }
  header .search-bar form label {
    display: inline-block;
    margin: 0;
    font-size: 0;
    color: transparent; }
  header.stick .search-bar {
    top: 0;
    margin: 22px 0 0 0; }
  header.stick .main-nav {
    margin: 0rem; }
  header.stick .main-nav ul li a {
    padding: 1.5rem 2.2rem 1.5rem 2.2rem; }
  .main-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    position: static;
    top: 0;
    left: 0;
    margin: 1rem 0 0 0;
    width: 100%;
    font-size: 1rem;
    -webkit-transition: margin .25s ease;
    transition: margin .25s ease; }
  .main-nav .dropdown {
    display: block !important; }
  .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0 auto;
    list-style: none; }
  .main-nav ul li {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        align-self: auto;
    padding: 0;
    border-top: 0rem;
    font-size: 1.2rem;
    line-height: 1.4;
    -webkit-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease; }
  .main-nav ul li:last-of-type {
    display: none; }
  .main-nav ul li a {
    display: block;
    position: relative;
    padding: 2rem 2.2rem 2rem 2.2rem; }
  .main-nav ul li:after {
    content: "";
    position: absolute;
    bottom: 0.8rem;
    right: 50%;
    width: 0%;
    height: 0.4rem;
    background: #fe9000;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-transition: width .25s ease;
    transition: width .25s ease; }
  .main-nav ul li:hover:after {
    content: "";
    position: absolute;
    bottom: 0.8rem;
    right: 50%;
    width: 90%;
    height: 0.4rem;
    background: #fe9000;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  #p1 .main-nav ul li.p1:after,
  #p2 .main-nav ul li.p2:after,
  #p3 .main-nav ul li.p3:after,
  #p4 .main-nav ul li.p4:after,
  #p5 .main-nav ul li.p5:after,
  #p6 .main-nav ul li.p6:after {
    content: "";
    position: absolute;
    bottom: 0.8rem;
    right: 50%;
    width: 90%;
    height: 0.4rem;
    background: #fe9000;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 22px 60px; }
    #footer .footer-nav {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%; }
    #footer .footer-nav ul {
      -webkit-columns: 3;
              columns: 3; }
    #footer .footer-nav ul li {
      text-align: left; }
    #footer .footer-nav ul li a {
      background-color: transparent; }
    #footer .footer-nav ul li a:hover {
      text-decoration: underline; }
    #footer .footer-logos {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      text-align: right; }
    #footer .copyright {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%; } }



/*# sourceMappingURL=media_queries.css.map */
